<div class="nested-fields well">
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_date, "System start date" %>
    <%= f.text_field :start_date, data:{ provide:'datepicker' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :descriptive_date %>
    <%= f.text_field :descriptive_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :max_players %>
    <%= f.number_field :max_players, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :cost %>
    <%= f.number_field :cost, value: number_with_precision(f.object.cost, :precision => 2), step: "0.01", class: 'form-control' %>
  </div>

  <%= link_to_remove_association('Remove system', f, class: "btn btn-primary #{"disabled" unless f.object.registrants.empty?}") %>
  <%= "There are players linked to this system, delete them first."  unless f.object.registrants.empty? %>
</div>