<div class="nested-fields well">
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_date, "System start date" %>
    <%= f.text_field :start_date, data:{ provide:'datepicker' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :descriptive_date %>
    <%= f.text_field :descriptive_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :max_players %>
    <%= f.number_field :max_players, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :cost %>
    <%= f.number_field :cost, value: number_with_precision(f.object.cost, :precision => 2), step: "0.01", class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :attachment_uploader, "Players pack" %>
  <% unless f.object.attachment_url.blank? %>
    <br>
    <a href="<%=f.object.attachment_url %>" download>View Current Attached Players Pack</a>
    <br>
    -- OR --
  <% end %>
  <%= f.file_field :attachment_uploader, class: 'form-control' %>
  <%= f.hidden_field :attachment_url, class: 'url-holder' %>
  </div>

  <%= link_to_remove_association('Remove this', f, class: 'btn btn-primary', data: { confirm: "Are you sure? This may remove all registrants." }) %>
</div>