<% provide(:title, 'Shopping Cart') %>
<% provide(:meta_description, t('seo.cart')) %>
<% unless @registrants.nil? %>
  <% @registrants.each do |registrant| %>
    <%= render :partial => 'registrant', :locals => {:registrant => registrant} %>
  <% end %>
<% end %>

<div id="paypal-button-container"></div>

<script>
    paypal.Button.render({

        env: "<%= Rails.env == 'production' ? 'sandbox' : 'sandbox' %>", //TODO: remove the dual sandbox call here

        // Show the buyer a 'Pay Now' button in the checkout flow
        commit: true,

        // payment() is called when the button is clicked
        payment: function() {

            // Set up a url on your server to create the payment
            var CREATE_URL = "<%= checkout_url %>";
            var registrants = <%= sanitize(@registrants.to_json) %>;

            // Make a call to your server to set up the payment
            return paypal.request.post(CREATE_URL, {registrants:JSON.stringify(registrants)})
                .then(function(res) {
                    return res.paymentID;
                });
        },

        // onAuthorize() is called when the buyer approves the payment
        onAuthorize: function(data, actions) {

            // Set up a url on your server to execute the payment
            var EXECUTE_URL = "<%= execute_url %>";

            // Set up the data you need to pass to your server
            var data = {
                paymentID: data.paymentID,
                payerID: data.payerID
            };

            // Make a call to your server to execute the payment
            return paypal.request.post(EXECUTE_URL, data)
                .then(function (res) {
                    window.location.replace("<%= cart_tickets_url %>");
                });
        }

    }, '#paypal-button-container');
</script>