<% provide(:title, @ticket.title) %>
<% provide(:meta_description, truncate(strip_tags(@ticket.description), :length => 120)) %>
<div class="ticket">
  <div class="ticket-title"><%= @ticket.title %></div>
  <small><p> <%= "Event size: #{@ticket.max_players}" %></p></small>
  <span class="ticket-cost">$<%= number_with_precision(@ticket.cost, :precision => 2) %></span>
  <%= sanitize(@ticket.description) %>
  <%= form_for(@registrant, url: add_to_cart_ticket_path) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-group-vertical btn-block">
          <%= f.submit "Add to cart", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>