<% provide(:title, @ticket.title) %>
<% provide(:meta_description, truncate(strip_tags(@ticket.description), :length => 120)) %>
<div class="ticket">
  <div class="ticket-date">
    <%= @ticket.descriptive_date %>
  </div>
  <div class="ticket-title"><%= @ticket.title %></div>
  <small><p> <%= "Event size: #{@ticket.max_players}" %></p></small>
  <div class="btn-group-vertical btn-block">
    <% if @ticket.attachment_url.blank? %>
      <div class="btn btn-primary disabled">Player pack unavailable</div>
    <% else %>
      <%= link_to "Download player pack", @ticket.attachment_url, class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= form_for(@registrant, url: add_to_cart_ticket_path) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <span class="price">$<%= number_with_precision(@ticket.cost, :precision => 2) %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group-vertical btn-block">
          <%= f.submit "Add to cart", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
  <%= sanitize(@ticket.description) %>

</div>